*.class
.gradle
**/build/
*.swp # Vim turds

# Eclipse Files #
.classpath
.project
.settings

# Netbeans Project Files #
build.xml
manifest.mf
nbproject/

# Game Files #
ErrorLog.txt

# Package Files #
*.war
*.ear
/bin
/lib
/nbproject/private/
/build/
/dist/
