*.class

# Eclipse Files #
.classpath
.project
.settings

# Netbeans Project Files #
build.xml
manifest.mf
nbproject/

# Game Files #
ErrorLog.txt
resources/Level*

# Package Files #
*.war
*.ear
/bin
/lib
/nbproject/private/
/build/
/dist/